[Desktop Entry]
Name=Shermans_aquarium
Comment=Applet with aquarium
Comment[pl]=Aplet z akwarium
Exec=shermans_aquarium
Icon=shermans_aquarium-icon
Terminal=false
Type=Application
Categories=Applet;
# vi: encoding=utf-8
